
<div class="container">

  <div class="row headerRow">
    <h2>הוספת משתמש</h2>
  </div>

  <form>
    <div class="form-group">
      <label>אימייל:</label>
      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="כתובת אימייל">
    </div>
    <div class="form-group">
      <label>סיסמה:</label>
      <input type="password" class="form-control" placeholder="סיסמה">
    </div>
    <button type="button" class="btn btn-primary" (click)="signup()" routerLink="/main-screen">הוסף משתמש</button>
    <button type="button" class="btn btn-primary" routerLink="/main-screen">חזור למסך הראשי</button>
  </form>
</div>