<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <div *ngIf='res!=undefined'>
      <ion-title>{{res.namePlace}} </ion-title>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid *ngIf='res!=undefined'>

    <ion-row *ngIf='res.links.logo'>
      <ion-col class='flexCol'>
        <img src={{res.links.logo}}>
      </ion-col>
    </ion-row>

    <ion-row class='dataRow' *ngIf='res.Description'>
        <ion-col>
          תיאור:
        </ion-col>
        <ion-col>
          {{res.Description}}
        </ion-col>
      </ion-row>

    <ion-row class='dataRow' *ngIf='res.opening'>
      <ion-col>
        שעות פתיחה:
      </ion-col>
      <ion-col>
        {{res.opening }}
      </ion-col>
    </ion-row>



    <ion-row class='dataRow' *ngIf='res.phone'>
      <ion-col>
        טלפון:
      </ion-col>
      <ion-col>
        {{res.phone}}
      </ion-col>
    </ion-row>

    <ion-row class='dataRow' *ngIf='res.Address'>
      <ion-col>
        כתובת:
      </ion-col>
      <ion-col>
        {{res.Address}}
      </ion-col>
    </ion-row>

    <ion-row class='dataRow' *ngIf='res.priceRange'>
      <ion-col>
        טווח מחירים:
      </ion-col>
      <ion-col>
        {{res.priceRange}}
      </ion-col>
    </ion-row>


    <div *ngIf='res.links!=undefined'>
      <ion-row class='dataRow' *ngIf='res.links.website'>
        <ion-col>
          כתובת אתר אינטרנט:
        </ion-col>
        <ion-col>
          <a href="{{res.links.website}}"> לחץ כאן </a>
        </ion-col>
      </ion-row>
      <ion-row class='dataRow' *ngIf='res.links.facebook'>
        <ion-col>
          פייסבוק:
        </ion-col>
        <ion-col>
            <a href="{{res.links.facebook}}"> לחץ כאן </a>
         
        </ion-col>
      </ion-row>
    </div>

    <ion-row class='dataRow' *ngIf='res.email'>
      <ion-col>
        אימייל:
      </ion-col>
      <ion-col>        
        <a href="{{res.email}}"> לחץ כאן </a>
      </ion-col>
    </ion-row>



    <ion-row class='dataRow' *ngIf='res.moreInfo'>
      <ion-col>
        מידע נוסף:
      </ion-col>
      <ion-col>
        {{res.moreInfo}}
      </ion-col>
    </ion-row>

    <ion-row class='dataRow' *ngIf='res.restauranttype'>
      <ion-col>
       סוג מסעדה:
      </ion-col>
      <ion-col>
        {{res.restauranttype}}
      </ion-col>
    </ion-row>

    <ion-row class='dataRow' *ngIf='res.facilities'>
      <ion-col>
       מתקנים:
      </ion-col>
      <ion-col>
        {{res.facilities}}
      </ion-col>
    </ion-row>
    
    <ion-row class='dataRow' *ngIf='res.sensitivePreferences.preferences'>
        <ion-col>
         העדפות נוספות:
        </ion-col>
        <ion-col>
          {{res.sensitivePreferences.preferences}}
        </ion-col>
      </ion-row>

      <ion-row class='dataRow' *ngIf='res.sensitivePreferences.sensitivity'>
          <ion-col>
           רגשויות נוספות :
          </ion-col>
          <ion-col>
            {{res.sensitivePreferences.sensitivity}}
          </ion-col>
        </ion-row>

        <ion-row class='dataRow' >
            <ion-col>
            תפריט ללא גלוטן :
            </ion-col>
            <ion-col>
              {{res.sensitivePreferences.gfMenu}}
            </ion-col>
          </ion-row>

        <ion-row class='dataRow' >
            <ion-col>
             כושר :
            </ion-col>
            <ion-col>
              {{res.sensitivePreferences.kosher}}
            </ion-col>
          </ion-row>
          
        <ion-row class='dataRow' >
            <ion-col>
             נגישות :
            </ion-col>
            <ion-col>
              {{res.sensitivePreferences.accessibility}}
            </ion-col>
          </ion-row>
        


  </ion-grid>






</ion-content>