<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <div *ngIf='res!=undefined'>
    <ion-title>{{res.namePlace}} </ion-title>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>



  
    <div *ngIf='res!=undefined'>

        <img  src={{res.links.logo}}>
        <br/>
        שעות פתיחה:
        {{res.opening }}
        <br/>
        טלפון:
        {{res.phone}}
        <br/>
      כתובת:
        {{res.Address}}
        <br/>
        טווח מחירים:
        {{res.priceRange}}
        <div *ngIf='res.linksUrl!=undefined'>
            <br/>
            כתובת אתר אינטרנט::
            {{res.linksUrl.website}}
            <br/>
            פייסבוק:
            {{res.linksUrl.facebook}}
        </div>
      
        <br/>
        אימל:
        {{res.email}}
        <br/>

        סוג מזון:
        {{res.typeDishes}}
        <br/>
        תיאור חופשי:
        {{res.Description}}
        <br/>
        מידע נוסף:
        {{res.moreInfo}}
        <br/>
        העדפות נוספות:
        {{res.sensitivePreferences.preferences}}
        
 <!--         <ion-row>
            <ion-col col-2 >
             <img  src={{res.links.logo}}>
            </ion-col>
            <ion-col col-3 >
              {{res.namePlace}}
             </ion-col>
             <ion-col col-6 >
             שעות פתיחה:
             {{res.opening }}
      
             <br>
             טלפון:
             {{res.phone}}
             </ion-col>
             <ion-col col-1 >
              <img src="assets/imgs/place-icon.png">
             </ion-col>
          </ion-row>-->
    </div>


</ion-content>