.cardImage {
    max-height: 150px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.cardHeader {
    font-size: 2rem;
    text-align: center;
}

.wholeCard {
    border-radius: 15px;
}