<ion-header>

  <ion-navbar>
    <ion-title>רשימת מסעדות</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>סינון לפי סוג עסק</ion-label>
    <ion-select #businessFilter (ionChange)='setBusinessTypes($event)'>
      <ion-option *ngFor='let businessType of businessTypes' value='{{businessType.value}}'>{{businessType.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>סינון לפי סוג מסעדה</ion-label>
    <ion-select #restaurantFilter (ionChange)='setRestaurantTypes($event)'>
      <ion-option *ngFor='let restaurantType of restaurantTypes' value='{{restaurantType.value}}'>{{restaurantType.name}}</ion-option>
    </ion-select>
  </ion-item>

  <!-- <ion-grid *ngFor='let res of result'>
    <div *ngIf='res.showOnScreen'>
      <ion-row>
        <ion-col col-2>
          <!-- <img src={{res.links.logo}} (touchend)= "goToSite(res)"   >
          <img (click)="move(res)" src={{res.links.logo}}>
        </ion-col>
        <ion-col col-3>
          {{res.namePlace}}
        </ion-col>
        <ion-col col-6>
          שעות פתיחה: {{res.opening }}

          <br> טלפון: {{res.phone}}
        </ion-col>
        <ion-col col-1>
          <img src="assets/imgs/place-icon.png">
        </ion-col>
      </ion-row>
    </div>
  </ion-grid> -->




  <ion-card class='wholeCard' *ngFor='let res of result' (click)="move(res)">

    <ion-card-header class='cardHeader'>
      <b>{{res.namePlace}}</b>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class='cardImage' src={{res.links.logo}}>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                <b>טלפון:</b> {{res.phone}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                <b>שעות פתיחה: </b>{{res.opening}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                <b>כתובת: </b>{{res.Address}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>




  <button ion-button outline (click)="popThis()">חזור אחורה</button>
  <p>לחץ על תמונה כדי להציג את הפרטים שלה</p>
</ion-content>