#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 30px;
}
input[type=text]
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 20px;
}

input[type=password]
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 20px;
}

h3
{
    text-align: center;
    font-style: italic;
    color: darkblue;
    text-shadow: black;
    font-size: 30px;
}


.container {
    margin-top: 25px;
}