<div class="col-12 text-center">
    <button type="button" class="btn btn-outline-primary btn-primary" (click)="save()" routerLink="/edit-screen">הוסף מסעדה</button>
</div>
<div class="col-12 text-center">
    <button type="button" class="btn btn-outline-primary btn-primary" (click)="save()" routerLink="/login">צא מהמערכת</button>
</div>

<div class="container">

    <mat-accordion *ngFor='let rest of restaurants'>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{rest.name}}
                </mat-panel-title>
                <mat-panel-description>
                    {{rest.description}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class='content'>
                <mat-list>
                   
                    <mat-list-item>כתובת: {{rest.address}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>טלפון: {{rest.phone}} </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>שעות פתיחה: {{rest.openingTime}} </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>טווח מחירים: {{rest.priceRange}} </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-divider></mat-divider>
                    <mat-divider></mat-divider>
                    <mat-list-item>סוג מזון: {{rest.foodType}} </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>מידע נוסף: {{rest.moreInformation}} </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>העדפות נוספות: {{rest.additionalPreferences}} </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>רגישויות נוספות: {{rest.sensitivePreferences}} </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item> מעבר לאתר האינטרנט
                        <pre> </pre>
                        <a href="{{rest.website}}"> לחץ כאן </a>
                    </mat-list-item>
                    <mat-divider> </mat-divider>
                    <mat-list-item>מעבר לפייסבוק
                        <pre> </pre>
                        <a href="{{rest.facebook}}">לחץ כאן</a>
                    </mat-list-item>

                    <mat-divider></mat-divider>
                    <mat-list-item>

                    </mat-list-item>
                </mat-list>


                <!-- טלפון: {{rest.phone}}
           
                {{rest.priceRange}}
                {{rest.openingTime}} 
                {{rest.facilities}} -->
            </div>

        </mat-expansion-panel>
    </mat-accordion>

</div>