<div class="container upperContainer">

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" routerLink="/main-screen">צליאק ישראל</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/edit-screen">הוסף מסעדה
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/add-admin">הוסף משתמש</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/edit-info">ערוך מידע למשתמש</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()" routerLink="/login">צא מהמערכת</a>
                </li>
            </ul>
        </div>
    </nav>










    <div class='placeHolder'></div>

    <div class="row">

        <div class="col">
            <div class="form-group">
                <label>סינון לפי מיקום:</label>
                <select class="form-control" (change)='setLocationFilter($event)'>
                    <option *ngFor='let location of locations' value='{{location.value}}'>{{location.name}}</option>
                </select>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label>סינון לפי סוג עסק:</label>
                <select class="form-control" (change)='setTypeFilter($event)'>
                    <option *ngFor='let businessType of businessTypes' value='{{businessType.value}}'>{{businessType.name}}</option>
                </select>
            </div>
        </div>

    </div>

</div>


<div class="container">

    <mat-accordion *ngFor='let rest of restaurants'>
        <mat-expansion-panel *ngIf='rest.showOnScreen && rest'>
            <mat-expansion-panel-header>

                <button mat-raised-button (click)="openDialog(rest)" class="btn btn-outline-primary btn-primary" id="trash">
                    <i class="fa fa-trash"></i>
                </button>

                <button *ngIf=!isEdit type="button" id="pencle" class="btn btn-outline-primary btn-primary" (click)="edit(rest)">
                    <i class="fas fa-pencil-alt"></i>
                </button>

                <button *ngIf="isEdit && idEdit == rest.id" type="button" class="btn btn-outline-primary btn-primary" (click)="save(rest)">
                    <i class="fas fa-save"></i>
                </button>

                <mat-panel-title>
                    {{rest.name}}
                </mat-panel-title>
                <mat-panel-description>
                    {{rest.description}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class='content'>
                <mat-list *ngIf="!isEdit">
                    <mat-list-item>כתובת: {{rest.address}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>עיר : {{rest.city}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item *ngIf="rest.phone!=''">טלפון: {{rest.phone}}</mat-list-item>
                    <mat-divider *ngIf="rest.phone!=''"></mat-divider>
                    <mat-list-item *ngIf="rest.email!=''">אימל: {{rest.email}}</mat-list-item>
                    <mat-divider *ngIf="rest.email!=''"></mat-divider>
                    <mat-list-item *ngIf="rest.lastmodi!=''">תאריך עדכון אחרון: {{rest.lastmodi}}</mat-list-item>
                    <mat-divider *ngIf="rest.lastmodi!=''"></mat-divider>
                    <mat-list-item *ngIf="rest.openingTime!=''">שעות פתיחה: {{rest.openingTime}} </mat-list-item>
                    <mat-divider *ngIf="rest.openingTime!=''"></mat-divider>
                    <mat-list-item *ngIf="rest.priceRange!=''">טווח מחירים: {{rest.priceRange}} </mat-list-item>
                    <mat-divider *ngIf="rest.priceRange!=''"></mat-divider>
                    <mat-list-item *ngIf="rest.restauranttype!=''">סוג מסעדה: {{rest.restauranttype}} </mat-list-item>
                    <mat-divider *ngIf="rest.restauranttype!=''"></mat-divider>
                    <mat-list-item *ngIf="rest.TypeOfBusiness!=''">סוג עסק: {{rest.TypeOfBusiness}} </mat-list-item>
                    <mat-divider *ngIf="rest.TypeOfBusiness!=''"></mat-divider>
                    <mat-list-item *ngIf="rest.moreInformation!=''">מידע נוסף: {{rest.moreInformation}} </mat-list-item>
                    <mat-divider *ngIf="rest.moreInformation!=''"></mat-divider>
                    <mat-list-item *ngIf="rest.additionalPreferences!=''">העדפות נוספות: {{rest.additionalPreferences}} </mat-list-item>
                    <mat-divider *ngIf="rest.additionalPreferences!=''"></mat-divider>
                    <mat-list-item *ngIf="rest.sensitivePreferences!=''">רגישויות נוספות: {{rest.sensitivePreferences}} </mat-list-item>
                    <mat-divider *ngIf="rest.sensitivePreferences!=''"></mat-divider>
                    <mat-list-item *ngIf="rest.facilities!=''">מתקנים:{{rest.facilities}}</mat-list-item>
                    <mat-divider *ngIf="rest.facilities!=''"></mat-divider>
                    <mat-list-item *ngIf="rest.website!=''"> מעבר לאתר האינטרנט
                        <pre> </pre>
                        <a href="{{rest.website}}"> לחץ כאן </a>
                    </mat-list-item>
                    <mat-divider *ngIf="rest.website!=''"> </mat-divider>
                    <mat-list-item *ngIf="rest.facebook!=''">מעבר לפייסבוק
                        <pre> </pre>
                        <a href="{{rest.facebook}}">לחץ כאן</a>
                    </mat-list-item>
                    <mat-divider *ngIf="rest.facebook!=''"></mat-divider>
                    <mat-list-item>כשר: {{rest.kosher}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>נגישות: {{rest.accessibility}}</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>תפריט ללא גלוטן: {{ rest.gfMenu}}</mat-list-item>





                </mat-list>
                <div *ngIf=isEdit>
                    <div>
                        <input *ngFor="let item of toArray(rest)" [placeholder]="item | TranslatePipe" [(ngModel)]="rest[item]">
                    </div>
                </div>


            </div>

        </mat-expansion-panel>
    </mat-accordion>

</div>


<app-loading *ngIf='isLoading'></app-loading>