page-home {

   /* #inputBox
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-top: 10px;
        direction: rtl;
        

    }*/

    #inputBox
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        padding-top: 10px;
        direction: rtl;
        border: 2px solid rgb(67, 182, 235);

    }  
    #fixText{
        color: #ea6153;
        text-align: center;
    }
    ion-spinner{
        width: 16px !important;
        height: 16px !important;
      
    }
}
.rtlAlert {
    direction: rtl;
    
}